<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url if @post.image.url %>
</p>
<p>
  <strong>User:</strong>
  <%=  @post.user.name %>
</p>
<% if current_user.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Posts', posts_path %>
